.header {
  height: 83px;
  padding: 16px 32px;
  display: flex;
  gap: 37px;
/*   justify-content: space-between; */
  align-items: center;
  background-color: var(--background-header);
}

.header__nav{
  display: flex;
  gap: 8px;
}

.header__notices {
  display: flex;
  gap: 19px;
  align-items: center;
}